.thumbnail{
    width: 100%;
    display: block;
}
.thumbnail-video-2{
    position: relative;
}
.search-bar{
    display: block;
}
/* .ad{
    width: 300px;
} */
.channel-picture{
    vertical-align: top;
}
.profile-picture{
    width: 35px;
    border-radius: 50px;
}
.video-title{
    margin-top: 0;
    font-weight: 600;
    line-height: 20PX;
    font-size: 14px;
    margin-bottom: 10px;
}
.thumbnail-row{
    margin-bottom: 12px;
    position: relative;
}
.video-stats, .channel-name{
    color: rgb(96,96,96);
    font-size: 12px;
    /* margin-top: 5px; */
}
.channel-name{
    margin-bottom: 3px;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-duration{
    /* display: inline-block; */
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    position: absolute;
    bottom: 8px;
    right: 5px;
    border-radius: 2px;
}

/* Media Query */

@media(max-width: 900px){
    .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 2500px){
    .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}